# Formatting openXBOW Output

By Jimuel Celeste, Jr. 

Objective: Format openXBOW output for downstream tasks, e.g., training.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
sample = "/Users/jimuelcelestejr/Documents/codebook/MLSpeech4MH/results/TAUKADIAL2024_samples/acoustic/boaw_size_100_compare_2016_lld/taukdial-003-2.csv"

In [10]:
df = pd.read_csv(sample, delimiter=';')
df.columns

Index(['21.0', '12.0', '12.0.1', '10.0', '64.0', '93.0', '13.0', '17.0',
       '28.0', '19.0', '34.0', '28.0.1', '15.0', '24.0', '15.0.1', '14.0',
       '75.0', '27.0', '64.0.1', '24.0.1', '19.0.1', '86.0', '23.0', '24.0.2',
       '7.0', '10.0.1', '28.0.2', '15.0.2', '8.0', '24.0.3', '8.0.1', '37.0',
       '39.0', '2.0', '26.0', '16.0', '5.0', '44.0', '29.0', '19.0.2',
       '14.0.1', '53.0', '66.0', '21.0.1', '47.0', '19.0.3', '21.0.2',
       '10.0.2', '46.0', '24.0.4', '30.0', '4.0', '44.0.1', '23.0.1', '26.0.1',
       '39.0.1', '15.0.3', '13.0.1', '13.0.2', '13.0.3', '6.0', '8.0.2',
       '63.0', '67.0', '57.0', '10.0.3', '8.0.3', '39.0.2', '53.0.1', '53.0.2',
       '47.0.1', '25.0', '60.0', '7.0.1', '13.0.4', '20.0', '31.0', '89.0',
       '19.0.4', '95.0', '21.0.3', '10.0.4', '28.0.3', '39.0.3', '22.0',
       '14.0.2', '33.0', '23.0.2', '2.0.1', '107.0', '27.0.1', '17.0.1',
       '20.0.1', '25.0.1', '14.0.3', '31.0.1', '41.0', '7.0.2', '64.0.2',
       '51.0'],
      dtype='object')

In [11]:
len(df.columns)

100

In [12]:
arr = np.loadtxt(sample, delimiter=';')
arr

array([ 21.,  12.,  12.,  10.,  64.,  93.,  13.,  17.,  28.,  19.,  34.,
        28.,  15.,  24.,  15.,  14.,  75.,  27.,  64.,  24.,  19.,  86.,
        23.,  24.,   7.,  10.,  28.,  15.,   8.,  24.,   8.,  37.,  39.,
         2.,  26.,  16.,   5.,  44.,  29.,  19.,  14.,  53.,  66.,  21.,
        47.,  19.,  21.,  10.,  46.,  24.,  30.,   4.,  44.,  23.,  26.,
        39.,  15.,  13.,  13.,  13.,   6.,   8.,  63.,  67.,  57.,  10.,
         8.,  39.,  53.,  53.,  47.,  25.,  60.,   7.,  13.,  20.,  31.,
        89.,  19.,  95.,  21.,  10.,  28.,  39.,  22.,  14.,  33.,  23.,
         2., 107.,  27.,  17.,  20.,  25.,  14.,  31.,  41.,   7.,  64.,
        51.])

In [13]:
len(arr)

100

For some reason, pandas cannot properly read the csv file with ';' delimiter. Numpy does it cleanly.

In [15]:
columns = np.arange(1, 100+1, 1)
columns

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [23]:
new_df = pd.DataFrame(data=[arr], columns=columns)
new_df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,21.0,12.0,12.0,10.0,64.0,93.0,13.0,17.0,28.0,19.0,...,27.0,17.0,20.0,25.0,14.0,31.0,41.0,7.0,64.0,51.0